@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu&display=swap');

:root {
    --main-color: #260642;
    --sec-color: #38366e;
    --ter-color: #506598;
    --comp-uno: #7294be;
    --comp-dos: #9ec5e2;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.loginMain {
    background-color: red !important;
}